body{
	margin: 0;
	display: flex;
	font-family: sans-serif;
	display: flex;
}
h1{
	background: #8443FF;
	color: white;
	width: 100%;
	position: absolute;
	margin: auto;
	text-align: center;
}
#tasa{
	position: absolute;
	top: 220px;
	left: 500px;
	margin: auto;
	width: 300px;
	border: none;
	border-bottom: 1.5px solid #8443FF;
	z-index: 1000;
}
#enviar{
	position: absolute;
	top: 320px;
	left: 500px;
	margin: auto;
	border: none;
	background: #8443FF;
	color: white;
	height: 35px;
	z-index: 1000;
}
aside table{
	position: relative;
	top: 90px;
	left: 20px;
	height: 600px;
	width: 600px;
	margin: auto;
	display: flex;
	animation: slide;
	animation-duration: 500ms;
}
aside table tr{
	margin: 5px;
	display: flex;
}
aside table tr td:hover, aside table tr td a:hover{
	background: #B086FF;
}
aside table tr td, aside table tr td a{
	margin: 5px;
	height: 80px !important;
	width: 200px !important;
	background: #8443FF;
	display: flex;
	text-decoration: none;
	font-size: 12px;
}
@keyframes slide{
	from{
		left: -100px;
		opacity: 0;
	}
	to{
		left: 20px;
		opacity: 1;
	}
}
aside table tr td p, aside table tr td a{
	margin: auto;
	color: white;
}