<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/inventario.css">
</head>
<body>
	<aside>
		<input type="text" name="buscador" placeholder="Buscar producto" id="buscador">
		<table>
			<tr>
				<td>
					<a href="/inventario">
						<p>INVENTARIO</p>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/productos">
						<p>REGISTRO DE PRODUCTOS</p>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/ventas">
						<p>VENTAS</p>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/tasa">
						<p>TASA DEL DÍA</p>
					</a>
				</td>
			</tr>
		</table>
	</aside>
	<table id="inventario">
		<tr>
			<th>CÓDIGO</th>
			<th>NOMBRE</th>
			<th>CANTIDAD</th>
			<th>PRECIO Bs.S</th>
			<th>PRECIO $</th>
			<th>TASA DE CAMBIO</th>
		</tr>
		<tr>
			<td>000111</td>
			<td>Carne de res</td>
			<td>22.5</td>
			<td>1.300.000</td>
			<td>3.5</td>
			<td>340.000</td>
		</tr>
		<tr>
			<td>000112</td>
			<td>Carne de cerdo</td>
			<td>12.5</td>
			<td>1.500.000</td>
			<td>4</td>
			<td>340.000</td>
		</tr>
	</table>
</body>
</html>